<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>XtraFinder_ShowStatusBarIcon</key>
	<false/>
	<key>XtraFinder_XFAlwaysMaximizePlugin</key>
	<true/>
	<key>XtraFinder_XFAlwaysShowToolbarPlugin</key>
	<true/>
	<key>XtraFinder_XFAttributesMenuPlugin</key>
	<true/>
	<key>XtraFinder_XFBackspaceToGoBackPlugin</key>
	<true/>
	<key>XtraFinder_XFBrowserViewColorPlugin</key>
	<false/>
	<key>XtraFinder_XFColorfulSidebarPlugin</key>
	<false/>
	<key>XtraFinder_XFContentsMenuPlugin</key>
	<false/>
	<key>XtraFinder_XFCopyPathMenuPlugin</key>
	<true/>
	<key>XtraFinder_XFCopyPathMenuPlugin_Default</key>
	<integer>0</integer>
	<key>XtraFinder_XFCopyToActionPlugin</key>
	<true/>
	<key>XtraFinder_XFCopyToActionPlugin_CopyTo_Shortcut</key>
	<dict>
		<key>keyChars</key>
		<string>ç</string>
		<key>keyCharsIgnoringModifiers</key>
		<string>c</string>
		<key>keyCode</key>
		<integer>8</integer>
		<key>modifierFlags</key>
		<integer>1572864</integer>
		<key>modifiers</key>
		<integer>2304</integer>
	</dict>
	<key>XtraFinder_XFCopyToActionPlugin_RecentFolders</key>
	<array>
		<string>file:///Applications/</string>
	</array>
	<key>XtraFinder_XFCutAndPastePlugin</key>
	<true/>
	<key>XtraFinder_XFDualWindowActionPlugin</key>
	<true/>
	<key>XtraFinder_XFDualWindowActionPlugin_Horizontal_Shortcut</key>
	<dict>
		<key>keyChars</key>
		<string>\</string>
		<key>keyCharsIgnoringModifiers</key>
		<string>\</string>
		<key>keyCode</key>
		<integer>42</integer>
		<key>modifierFlags</key>
		<integer>1048576</integer>
		<key>modifiers</key>
		<integer>256</integer>
	</dict>
	<key>XtraFinder_XFDualWindowActionPlugin_SystemWideShortCut</key>
	<false/>
	<key>XtraFinder_XFDualWindowActionPlugin_Vertical_Shortcut</key>
	<dict>
		<key>keyChars</key>
		<string>«</string>
		<key>keyCharsIgnoringModifiers</key>
		<string>\</string>
		<key>keyCode</key>
		<integer>42</integer>
		<key>modifierFlags</key>
		<integer>524288</integer>
		<key>modifiers</key>
		<integer>2048</integer>
	</dict>
	<key>XtraFinder_XFEnterToOpenPlugin</key>
	<true/>
	<key>XtraFinder_XFFitColumnWidthPlugin</key>
	<false/>
	<key>XtraFinder_XFFitColumnWidthPlugin_HasMaxWidth</key>
	<true/>
	<key>XtraFinder_XFFitColumnWidthPlugin_MaxWidth</key>
	<real>100</real>
	<key>XtraFinder_XFFolderItemCountPlugin</key>
	<false/>
	<key>XtraFinder_XFFoldersOnTopPlugin</key>
	<false/>
	<key>XtraFinder_XFGoUpToolbarButtonPlugin</key>
	<true/>
	<key>XtraFinder_XFHideShareItemPlugin</key>
	<true/>
	<key>XtraFinder_XFLabelsInSidebarPlugin</key>
	<false/>
	<key>XtraFinder_XFLegacyLabelForDesktopPlugin</key>
	<true/>
	<key>XtraFinder_XFLegacyLabelForIconViewPlugin</key>
	<true/>
	<key>XtraFinder_XFNewFileActionPlugin</key>
	<true/>
	<key>XtraFinder_XFNewFileActionPlugin_Shortcut</key>
	<dict>
		<key>keyChars</key>
		<string></string>
		<key>keyCharsIgnoringModifiers</key>
		<string>n</string>
		<key>keyCode</key>
		<integer>45</integer>
		<key>modifierFlags</key>
		<integer>786432</integer>
		<key>modifiers</key>
		<integer>6144</integer>
	</dict>
	<key>XtraFinder_XFNewTerminalActionPlugin</key>
	<true/>
	<key>XtraFinder_XFNewTerminalActionPlugin_TerminalApp</key>
	<integer>1</integer>
	<key>XtraFinder_XFRenameActionPlugin</key>
	<true/>
	<key>XtraFinder_XFRenameActionPlugin_Shortcut</key>
	<dict>
		<key>keyChars</key>
		<string></string>
		<key>keyCharsIgnoringModifiers</key>
		<string></string>
		<key>keyCode</key>
		<integer>120</integer>
		<key>modifierFlags</key>
		<integer>8388608</integer>
		<key>modifiers</key>
		<integer>8388608</integer>
	</dict>
	<key>XtraFinder_XFShowAllFilesActionPlugin</key>
	<true/>
	<key>XtraFinder_XFShowAllFilesActionPlugin_Shortcut</key>
	<dict>
		<key>keyChars</key>
		<string>˙</string>
		<key>keyCharsIgnoringModifiers</key>
		<string>h</string>
		<key>keyCode</key>
		<integer>4</integer>
		<key>modifierFlags</key>
		<integer>524288</integer>
		<key>modifiers</key>
		<integer>2048</integer>
	</dict>
	<key>XtraFinder_XFSpringLoadedPathBarPlugin</key>
	<true/>
	<key>XtraFinder_XFTabPlugin</key>
	<true/>
	<key>XtraFinder_XFTabPlugin_MiddleClickOpenInSecondPanel</key>
	<false/>
	<key>XtraFinder_XFTabPlugin_NarrowTabBar</key>
	<true/>
	<key>XtraFinder_XFTabPlugin_NewTabShortcut</key>
	<dict>
		<key>keyChars</key>
		<string>ç</string>
		<key>keyCharsIgnoringModifiers</key>
		<string>c</string>
		<key>keyCode</key>
		<integer>8</integer>
		<key>modifierFlags</key>
		<integer>524288</integer>
		<key>modifiers</key>
		<integer>2048</integer>
	</dict>
	<key>XtraFinder_XFTabPlugin_NewTabWithSamePath</key>
	<false/>
	<key>XtraFinder_XFTabPlugin_PinnableWindow_Slide</key>
	<true/>
	<key>XtraFinder_XFTabPlugin_PinnableWindow_SlideFrom</key>
	<integer>0</integer>
	<key>XtraFinder_XFTabPlugin_ReopenClosedTabShortcut</key>
	<dict>
		<key>keyCharsIgnoringModifiers</key>
		<string>t</string>
		<key>keyCode</key>
		<integer>17</integer>
		<key>modifierFlags</key>
		<integer>1179648</integer>
	</dict>
	<key>XtraFinder_XFTabPlugin_SaveOpenTabs</key>
	<true/>
	<key>XtraFinder_XFTabPlugin_SelectNextTabShortcut</key>
	<dict>
		<key>keyChars</key>
		<string></string>
		<key>keyCharsIgnoringModifiers</key>
		<string>n</string>
		<key>keyCode</key>
		<integer>45</integer>
		<key>modifierFlags</key>
		<integer>524288</integer>
		<key>modifiers</key>
		<integer>2048</integer>
	</dict>
	<key>XtraFinder_XFTabPlugin_SelectPreviousTabShortcut</key>
	<dict>
		<key>keyChars</key>
		<string>π</string>
		<key>keyCharsIgnoringModifiers</key>
		<string>p</string>
		<key>keyCode</key>
		<integer>35</integer>
		<key>modifierFlags</key>
		<integer>524288</integer>
		<key>modifiers</key>
		<integer>2048</integer>
	</dict>
	<key>XtraFinder_XFTabPlugin_ShiftClickOpenInSecondPanel</key>
	<false/>
	<key>XtraFinder_XFTabPlugin_ShowPinButton</key>
	<true/>
	<key>XtraFinder_XFTabPlugin_ShowSecondSidebar</key>
	<true/>
	<key>XtraFinder_XFTabPlugin_TabStyle</key>
	<integer>0</integer>
	<key>XtraFinder_XFTabPlugin_ToggleDualPanelShortcut</key>
	<dict>
		<key>keyCharsIgnoringModifiers</key>
		<string>u</string>
		<key>keyCode</key>
		<integer>32</integer>
		<key>modifierFlags</key>
		<integer>1048576</integer>
	</dict>
	<key>XtraFinder_XFTabPlugin_UseSelectTabShortcuts</key>
	<true/>
	<key>XtraFinder_XFToolbarButtonService</key>
	<true/>
</dict>
</plist>
