# -*- coding:utf-8 -*-
[user]
	name = jixiuf
	email = jixiuf@gmail.com
[branch "master"]
    remote = origin
    merge = master
[push]
    default = current

[mergetool "ediff"]
    cmd = emacsclient --eval \"(git-mergetool-emacsclient-ediff \\\"$LOCAL\\\" \\\"$REMOTE\\\" \\\"$BASE\\\" \\\"$MERGED\\\")\"
    trustExitCode = false
[mergetool]
    prompt = false
[merge]
    tool = ediff
# run : git difftool
[diff]
	tool = ediff
[difftool]
	prompt = false
[difftool "ediff"]
   cmd = emacsclient --eval \"(ediff \\\"$LOCAL\\\" \\\"$REMOTE\\\" )\"

[alias]
     sub=submodule
     subp=submodule foreach git pull
     subc=submodule foreach git co master
     a=add
     st = status
     br = branch -a -v -v
     ci = commit
     co = checkout
     df = diff
     re = remote -v
     undo = reset --soft HEAD^
     l =log --date iso
     log =log --date iso
     ll = log --graph --decorate --pretty=oneline --abbrev-commit
     pd = pull --dry-run
      s = status
      up = pull --rebase
      put = push origin HEAD
      pom = push origin master

      dd = difftool
      d = diff -C
      dw = diff -C --color-words

      ru = remote update
      sb = show-branch --sha1-name
      ls-del = ls-files -d
      ls-mod = ls-files -m
      ls-new = ls-files --exclude-standard -o
      ls-ign = ls-files --exclude-standard -o -i
[color]
    branch = auto
    diff = auto
    interactive = auto
    status = auto
    ui = auto

[core]
    editor =ec
    pager = less -r
# windows 运行 git status 中文乱码
    quotepath = false

	autocrlf = true

    #his basically tells Git that an end-of-line CR is not an error. As a result,
    #those annoying ^M characters no longer appear at the end of lines in git diff, git show, etc.
	whitespace = cr-at-eol
[i18n]
 commitencoding =utf-8
 logoutputencoding =gbk
